  {% load static %}
      <footer class="footer-area">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="{%static 'img/core-img/map.png'%}" alt="">
                            <a href="#">Berlin, Kienberstrass 21 13685</a>
                        </div>
                        <!-- Single Footer Content -->

                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="{%static 'img/core-img/envelope-2.png'%}" alt="">
                            <a href="#" data-toggle="modal" data-target=".contact-modal-lg" data-placement="right" title="Mail">rimma00.shevtsova@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>