{%load static%}
<script src="{%static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<script src="{%static 'js/owl.carousel.min.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDq_NTsc9uAewx8_BKohn6cJKtjrTv1Yk4"></script>
<script src="{%static 'js/map-active.js' %}"></script>

<!-- Popper js -->
<script src="{%static 'js/popper.min.js'%}"></script>
<!-- Bootstrap js -->
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<!-- Plugins js -->
<script src="{%static 'js/plugins.js'%}"></script>
<!-- Active js -->
<script src="{%static 'js/active.js'%}"></script>



