{% load i18n %}
<header class="header-area">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg">
                        <!-- Logo Area  -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu"
                                aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i
                                class="fa fa-bars"></i> Menu
                        </button>

                        <div class="collapse navbar-collapse" id="studioMenu">

                            <!-- Menu Area Start  -->
                            <div class="social-links">
                                <a href="https://www.facebook.com/profile.php?id=100016125454747" data-toggle="tooltip"
                                   data-placement="right" title="Facebook"><i class="fa fa-facebook fa-2x"
                                                                              aria-hidden="true"></i> <span></span></a>
                                <a href="https://www.instagram.com/rymma_tattoo/" data-toggle="tooltip"
                                   data-placement="right" title="Instagram"><i class="fa fa-instagram fa-2x"
                                                                               aria-hidden="true"></i> <span></span></a>
                                <a href="#" data-toggle="modal" data-target=".contact-modal-lg" data-placement="right"
                                   title="Mail"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                                    <span></span></a>
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_language_info for "de" as DE_LANGUAGE %}
                                {% get_language_info for "en" as EN_LANGUAGE %}

                                <a {% if LANGUAGE_CODE == 'en' %}
                                   href="/{{ DE_LANGUAGE.code }}{{ request.path|slice:'3:' }}"
                                {% else %}
                                    href="/{{ EN_LANGUAGE.code }}{{ request.path|slice:'3:' }}"
                                {% endif %}
                                    id="switch-lang" title="{% trans 'Change language' %}">
                                    <i class="fa fa-language fa-2x" aria-hidden="true"></i>
                                </a>

                            </div>


                            <ul class="navbar-nav ml-auto">

                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'index' %}">{% trans "Home" %}<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">{% trans "About me" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'portfolio' %}">{% trans "Portfolio" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'information' %}">{% trans "Information" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="">{% trans "Blog" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">{% trans "Contact" %}</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
