{%extends 'base.html'%}
{% load i18n %}
{%load static%}

{% block title %}{% trans "About me" %}{% endblock %}
{%block content%}

<!-- About Me Area Start -->
<section class="about-me-area mt-100 section_padding_100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="about-me-thumb">
                    <img src="{%static 'img/page/about_me.JPG'%}" alt="">
                </div>
            </div>
            <div class="col-10">
                <div class="about-content mt-100 mb-50 text-center wow fadeInUp" data-wow-delay="0.1s">
                    <span></span>
                    <h2> {% trans "What can I tell you about me?" %}</h2>
                    <p>
                        {% blocktrans %}
                        My name is Rimma, and I have been a tattoo artist for over 5 years. I specialize in graphic, fine line, and botanical tattoo styles.<br>
                        I graduated from art school and continue to practice drawing to this day. Art has always been a huge part of my life, and tattooing allows me to bring meaningful designs to people. For me, a tattoo is not just an image—it is an important story, a way to express emotions, memories, or milestones. That’s why I focus on working closely with my clients to understand their wishes and ideas, ensuring that every piece is unique and personal. I love working with details and creating delicate, elegant designs.<br>
                        I easily connect with people, so during my tattoo sessions, you will feel comfortable—no awkwardness or fear. I always strive to create a relaxed and welcoming atmosphere where you can enjoy the process.
                        I look forward to meeting you and creating something special together!
                        {% endblocktrans %}
                    </p>
                </div>

                <div class="col-12">
                    <h3 class="text-center mb-50 wow fadeInUp" data-wow-delay="0.1s"> {% trans "My favourite style" %} </h3>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="single-service-area section_padding_0_100 text-center wow fadeInUp"
                                 data-wow-delay="0.1s">
                                <h5>{% trans "Fine line" %}</h5>

                                <p>
                                    {% blocktrans %}delicate style using thin, precise lines with minimal shading, creating elegant and intricate designs.
                                    They are often used for detailed artwork like florals, portraits, and script, offering a subtle and sophisticated look
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="single-service-area section_padding_0_100 text-center wow fadeInUp"
                                 data-wow-delay="0.4s">
                                <h5>{% trans "Botanical style" %}</h5>
                                <p>
                                    {% blocktrans %}feature detailed, nature-inspired designs of plants, flowers, and leaves with fine lines and realistic shading.
                                    This style emphasizes elegance and organic beauty, often resembling botanical illustrations.
                                    {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="single-service-area section_padding_0_100 text-center wow fadeInUp"
                                 data-wow-delay="0.9s">
                                <h5>{% trans "Graphics" %}</h5>
                                <p>
                                    {% blocktrans %}blend bold lines, abstract shapes, and high-contrast elements, often inspired by printmaking and illustration.
                                    This style combines realism, geometry, and surrealism for a striking, artistic look.
                                     {% endblocktrans %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="studio-cool-facts-area mb-100">
                    <div class="row">
                        <!-- Single Cool Fact-->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-cool-fact d-flex align-items-center">
                                <div class="cool-facts-icon mr-3">
                                    <img src="{%static 'img/core-img/gallery.png' %}" alt="">
                                </div>
                                <div class="counter-area">
                                    <h2><span class="counter">5</span>{% trans "Year" %}</h2>
                                    <h6>{% trans "Experience" %}</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Single Cool Fact-->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-cool-fact d-flex align-items-center">
                                <div class="cool-facts-icon mr-3">
                                    <img src="{%static 'img/core-img/favorite.png'%}" alt="">
                                </div>
                                <div class="counter-area">
                                    <h2><span class="counter">5</span>K</h2>
                                    <h6>{% trans "Happy clients" %}</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Single Cool Fact-->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-cool-fact d-flex align-items-center">
                                <div class="cool-facts-icon mr-3">
                                    <img src="{%static 'img/core-img/photo-camera-2.png'%}" alt="">
                                </div>
                                <div class="counter-area">
                                    <h2><span class="counter">3217</span></h2>
                                    <h6>{% trans "Made Tattoo" %}</h6>
                                </div>
                            </div>
                        </div>
                        <!-- Single Cool Fact-->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="single-cool-fact d-flex align-items-center">
                                <div class="cool-facts-icon mr-3">
                                    <img src="{%static 'img/core-img/rocket-launch.png'%}" alt="">
                                </div>
                                <div class="counter-area">
                                    <h2><span class="counter">1000</span></h2>
                                    <h6>{% trans "Reviews" %}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
    <div class="container">
        <!-- Заголовок секции -->
        <div class="position-relative d-flex align-items-center justify-content-center">
            <h1 class="display-1 text-uppercase text-white" style="-webkit-text-stroke: 1px #dee2e6;">{% trans "Review" %}</h1>
            <h1 class="position-absolute text-uppercase text-primary">{% trans "Clients Say" %}</h1>
        </div>
        <br>

        <div id="commentsCarousel" class="carousel slide comments-carousel" data-ride="carousel">
            <div class="carousel-inner">
                {% for text, author in comments %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <div class="text-center">
                        <p class="mb-4">{{ text }}</p>
                        <h5 class="font-weight-bold">- {{ author }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>


            <a class="carousel-control-prev" href="#commentsCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" href="#commentsCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>
</div>



</section>

<!-- About Me Area End -->
{%include 'portfolio/include/instagram_carousel.html' %}
    <script>
        document.body.style.overflow = 'auto';
    </script>
{%endblock%}